@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #1c1e15; /* finch-950 */
  --heading-border: #1c1e1549; /* finch-950 */
  --background-hex: #d4d6c0; /* finch-200 */
  --link-color: #414bea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #e8e9de; /* finch-100 */
    --background-hex: #383b2c; /* finch-900 */
    --heading-border: #e8e9de49; /* finch-100 */
    --link-color: #7d97fc;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

#markdownContent h1 {
  font-size: 4vw;
  border-bottom: 2px solid var(--heading-border);
}
#markdownContent h2 {
  font-size: 3vw;
}
#markdownContent h3 {
  font-size: 2vw;
}
#markdownContent h4 {
  font-size: 1.5vw;
}
#markdownContent h5 {
  font-size: 1.25vw;
}
#markdownContent pre {
  font-size: 0.9vw;
  padding: 2rem;
  background: #00000034;
  border-radius: 0.5rem;
  font-family: monospace !important;
}
#markdownContent p,em,strong {
  font-size: 1vw
}
#markdownContent a {
  font-size: 1vw;
  color: var(--link-color);
}
#markdownContent a:hover {
  font-weight: italic;
  text-decoration: underline;
}
#markdownContent {
  padding-left: 2em;
  padding-right: 2em;
}
/* width */
#markdownContent::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#markdownContent::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle on hover */
#markdownContent::-webkit-scrollbar-thumb {
  background: var(--foreground-hex);
  border-radius: 12em;
}